{% extends 'base.html' %}

{% block content %}
{% for message in messages %}
 <strong>{ {message} } </strong>
{% endfor %}
{% if user.is_authentificated %}
<h3>Bonjour {{firstname}} bienvenue sur GodWin</h3>
<button type="submit"><a href="/logout ">Se déconnecter</a></button>
{% else %}
<style>
    /* Styles CSS personnalisés */
    .custom-col {
        border: 1px solid #ccc;
        padding: 20px;
        margin-top: 20px;
    }
  .pp {
    color: rgb(0, 38, 255); /* Changer la couleur du texte en jaune */
  }
  .red{
    color: rgb(5, 1, 1);
  }
</style>
</head>
<body>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="pp" >Le Projet Emploi du Canada : Ouverture, Diversité et Opportunités</h2>
            <p>Le Canada, pays reconnu pour sa diversité culturelle et sa stabilité économique, offre un cadre propice à l'épanouissement professionnel. Doté d'une économie diversifiée, le Canada a besoin de plus de <strong>750 000 travailleurs en 2024</strong> soit plus de <strong>670 000 empois</strong> disponibles. </p>
            <h3 class="pp">Les avantages du programme :</h3>
            <ul>
                <li><strong class="red"><strong>Frais d'hébergement pris en charge :</strong> Nous couvrons les coûts liés à votre logement pour vous assurer un cadre de vie confortable dès votre arrivée.</li>
                <li><strong class="red"><strong>Allocation mensuelle de 1000 dollars canadiens à votre arrivée : </strong> Nous comprenons que les premiers mois dans un nouveau pays peuvent être financièrement exigeants.</li>
                <li><strong class="red">L'offre d'emploi couvre la totalité des frais d'avion, garantissant ainsi une transition sans soucis vers votre nouvelle opportunité professionnelle au Canada. </li>
                <li><strong class="red"><strong>Assistance pour l'obtention du visa :</strong> Nous facilitons toutes les démarches nécessaires à l'obtention du visa, simplifiant ainsi le processus de relocalisation.</li>
                <li><strong class="red"><strong>Ouverture à toutes les nationalités :  :</strong> Nous croyons en la diversité et accueillons des talents du monde entier. Notre offre d'emploi au Canada est ouverte à toutes les nationalités, reflétant notre engagement envers l'inclusion et la richesse que la diversité apporte à notre équipe. </li>
                <li><strong class="red"><strong>Salaire minimum de 3000 dollars canadiens :</strong> En reconnaissance de votre talent et de votre contribution, nous vous offrons un salaire compétitif, assurant un niveau de vie satisfaisant au Canada.</li>
            </ul>
            <h3 class="pp">Processus d'embauche rapide : Obtenez votre opportunité au Canada en un temps record !</h3>
            <p>Dans notre engagement envers une expérience professionnelle transparente et efficace, nous sommes fiers d'annoncer que la durée totale de la procédure, depuis la soumission de votre candidature jusqu'à l'obtention du poste, est estimée à un maximum de deux mois.</p>
            <h3  class="pp" >Cadre de Travail Favorable :</h3>
            <p>En plus d'opportunités d'emploi diversifiées, nous vous offrons un environnement de travail équilibré, favorisant un bon équilibre entre vie professionnelle et personnelle. Les politiques en matière de congés, la qualité de vie et la sécurité sociale contribuent à rendre le Canada attractif pour les travailleurs.</p>
            <p><strong>Note importante : Veuillez noter qu'une participation financière est requise pour couvrir les frais associés à la procédure de candidature et d'évaluation.</strong></p>
        </div>
    </div>
</div>

<button type="button" class="btn btn-light"> <a href="/register">S'inscrire</a></button>
<button type="button" class="btn btn-light"> <a href="/login">Se connecter</a></button>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endif %}

{% endblock %}



