{% extends 'base.html' %}

{% block content %}
    <h2><img src="lien_vers_drapeau" alt="Drapeau du Canada"></h2>
    <p>Le Canada représente un projet d'emploi prometteur, offrant une diversité d'opportunités dans des secteurs en croissance, une politique d'immigration ouverte et un cadre de travail favorable. Que ce soit pour les professionnels expérimentés ou pour ceux qui cherchent à démarrer leur carrière, le Canada se profile comme une destination incontournable pour réaliser son potentiel professionnel.</p>
{% endblock %}
